body{
    background-color:  black;
    text-align: center;
}
hr{
    width: 450px;
}
h1, h4{
    color: #AA8562;
}
#board{
    background-color: #132C33;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid #0a181b;
}

.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #528b92;

    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To add differnt colors to the different numbers in the tiles */

.t2{
    background-color: #005d77;
    color: #ffffff
}
.t4{
    background-color: #037392;
    color: #94c901
}
.t8{
    background-color: #077e64;
    color: rgb(218, 238, 37);
}
.t16{
    background-color: #1d0052;
    color: rgb(243, 0, 231);
}
.t32{
    background-color: #bb0c0c;
    color: #cfcc14
}
.t64{
    background-color: #7400a1;
    color: #89ac0b
}
.t128{
    background-color: #171263;
    color: #12aa44
}
.t256{
    background-color: #a7126e;
    color: #aaa681
}
.t2048{
    background-color: pink;
    color:rgb(243, 0, 231);
}






